<!-- 
 <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Location</th>
        <th scope="col">Parking Capacity</th>
        <th scope="col">ID proprietaire</th>
      </tr>
    </thead>
    <tbody>
        <ng-container *ngFor="let a of userLists">
      <tr>
        <th scope="row">{{a.idParking}}</th>
        <td>{{a.location}}</td>
        <td>{{a.parkingCapacity}}</td>
        <td>{{a.idProprietaire}}</td>
      </tr>
      <tr>
    </ng-container>
    </tbody>
  </table>     -->

 <!-- <ul>
  <li *ngFor="let a of userLists">
    {{a.name}}
    {{a.lastName
    }}
    {{a.place}}
  </li>
</ul>    -->
<div class="container">
  <div class="card" style="width: 33rem">
    <h5 class="card-title">Stagiaires<span class="badge rounded-pill text-bg-primary ms-2"></span></h5>
    <img
      class="card-img-top"
      src="../../../assets/images/niveau.jpg"
      alt="Card image cap"
    />
    <div class="card-body">
      <p>
        <span
        class="btn btn-primary" (click)="event()" matBadgeSize="large">Voir toutes les stagiaires</span>
      </p>
    </div>
  </div>

  <div class="card" style="width: 33rem">
    <h5 class="card-title">Diplômé<span class="badge rounded-pill text-bg-primary ms-2"></span></h5>
    <img
      class="card-img-top"
      src="../../../assets/images/images.png"
      alt="Card image cap"
    />
    <div class="card-body">
      <p>
        <span
        class="btn btn-primary" (click)="event1()" matBadgeSize="large">Voir toutes les Diplomé</span>
      </p>
    </div>
  </div>

  <div class="card" style="width: 33rem">
    <h5 class="card-title">Entreprises<span class="badge rounded-pill text-bg-primary ms-2"></span></h5>
    <img
      class="card-img-top"
      src="../../../assets/images/logo10.jfif"
      alt="Card image cap"
    />
    <div class="card-body">
      <p>
        <span class="btn btn-primary" (click)="event2()" matBadgeSize="large"> Voir toutes les Entreprises</span></p>
    </div>
  </div>


</div> 
