<body>
    <div class="card">
      <div class="card-header">Rechercher des Entreprises</div>
  
      <div class="card-body">
        <div class="form-group">
          <input
            type="email"
            class="form-control"
            id="exampleInputEmail1"
            aria-describedby="emailHelp"
          
            placeholder="taper un mots-clés"
          />
        </div>

      </div>
    </div>
  
    <div class="card" > 
      <div class="card-header">Liste des Entreprises</div>
  
      <div class="card-body">
        <table class="table">
          <thead class="thead-dark">
            <tr>
              <th scope="col">Nom de l'entreprise</th>
              <th scope="col">Nom de Gérant</th>
              <th scope="col">Nom de responsable HR</th>
              <th scope="col">Region</th>
              <th scope="col">Department</th>
              <th scope="col">Poste à chercher</th>
       
              <th scope="col">Lien de compte linkedin</th>
            </tr>
          </thead>
          <tbody>
            <ng-container *ngFor="let a of entrepriselists">
            <tr>
              <td>{{a.nomEntreprise}}</td>
              <td>{{a.nomGerant}}</td>
              <td>{{a.nomHr}}</td>
              <td>{{a.region}}</td>
              <td>{{a.department}}</td>
              <td>{{a.poste}}</td>
              <td>{{a.lien}}</td>
       </tr>
          </ng-container>
          </tbody>
        </table>
