<div class="d-flex">
    <div class="w-25">
        <app-categories></app-categories>
    </div>

    <div class="w-50">
        <app-carousel></app-carousel>
    </div>

    <div class="w-25 p-1 ">
        <div class="p-3 bg-success text-white">
            <h5> <i class="fa-solid fa-info-circle"></i> Centre d'assistance
            </h5>
            <h5><i class="fa-solid fa-gear"></i> Services Hiring</h5>
            <h5><i class="fa-solid fa-shop"></i> Gestion Hiring</h5>

        </div>
    </div>

</div>

<app-product></app-product>
<!-- <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Location</th>
        <th scope="col">Parking Capacity</th>
        <th scope="col">ID proprietaire</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Mark</td>
        <td>Otto</td>
        <td>@mdo</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Jacob</td>
        <td>Thornton</td>
        <td>@fat</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td colspan="2">Larry the Bird</td>
        <td>@twitter</td>
      </tr>
    </tbody>
  </table> -->