<div class="card">
  <div class="card-header">Connecter</div>

  <div class="card-body">
    <form>
      <div class="form-group">
        <label for="exampleFormControlInput1">Prenom</label>
        <input
          type="text"
          class="form-control"
          id="exampleFormControlInput1"
          placeholder="le nom"
          name="nom"/>
      </div>

      <div class="form-group">
        <label for="exampleFormControlInput1">Password</label>
        <input
          type="text"
          class="form-control"
          id="exampleFormControlInput1"
          placeholder="le Prenom"
         type="password"
          name="prenom"
    
          required
        />
      </div>

    






      <button   type="button" class="btn btn-light" >
        LOG IN
      </button>
    </form>
  </div>
</div>